*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kulim Park", sans-serif;
	text-decoration: none;
	list-style: none;
} 

:root{
	--fondo-web:#f5f5f5;
	--color-principal:#060;
	--colorhover:#082;
	--color-texto:#0e0e0e;
	--color-sombra: #e1e1e1;
	--color-menu-text: #f5f5f5;
	--color9--:#323337;
	--color10--:#414247;
	--color11--:#e1e2e6;
}

body{
	background-color: var(--color-sombra);
	font-size: 20px;
}

.container{
	margin: 0 auto;
	max-width: 1200px;
}

.header{
	background-image: linear-gradient(rgba(0,50,0,.7), rgba(0,0,0,.7), rgba(0,0,0,.7)),url(/Comunidad/Multimedia/escuela5.jpeg);
	background-repeat: no-repeat;
	background-position: bottom bottom;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	align-items: center;
}

.menu{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	background-color: var(--color-principal);
}

.logo{
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 700;
	color: var(--color-menu-text);
	text-transform: uppercase;
}

.logo img{
	width: 60px;
	padding: 0 0 0 20px;
	margin-right: 20px;
}

.menu .navbar ul li{
	position: relative;
	float: left;
}

.menu .navbar ul li a{
	color: #f5f5f5;
	font-size: 1.3rem;
	padding: 20px;
	display: block;
	font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #273;
}

#menu{
	display: none;
}

.menu-icono{
	width: 25px;
}

.menu label{
	cursor: pointer;
	display: none;
}

.header-content{
	text-align: center;
}

.header-content h1{
	font-size: 6rem;
	color: var(--color-menu-text);
	line-height: 80px;
	text-transform: uppercase;
	margin-bottom: 35px;
	padding: 300px 0 0 0;
}

.header-content p{
	font-size: 1.4rem;
	color: var(--color-menu-text);
	padding: 0 250px;
	margin-bottom: 25px;
}

.btn-1{
	display: inline-block;
	padding: 11px 35px;
	background: var(--color-principal);
	color: var(--color-menu-text);
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .1s;
	font-size: 1rem;
}

.btn-1:hover{
	background: var(--color-menu-text);
	border: #060 solid 2px;
	color: var(--color-principal);
	scale: 1.04;
}

#btn{
	display: inline-block;
	padding: 10px 35px;
	background: var(--color-menu-text);
	color: var(--color-principal);
	border-radius: 50px;
	margin-top: 10px;
}

#btn:hover{
	background: var(--color-principal);
	border: #fff solid 2px;
	color: var(--color-menu-text);
	scale: 1.03;
}


.onda{
	position: absolute;
	top: 1000px;
	left: 0;
	width: 100%;
	height:100px;
	/*background-image: url(/Comunidad/Estudiante/multimedia/olas.png);*/
	background-size: 1000px 100px;
}

#onda1{
	z-index: 40;
	opacity: 1;
	bottom: 0;	
	animation: animationOnda 4s linear infinite;
}

#onda2{
	z-index: 30;
	opacity: .5;
	bottom: 10px;
	animation: animationOnda2 4s linear infinite;
}

#onda3{
	z-index: 20;
	opacity: .2;
	bottom: 15px;
	animation: animationOnda 3s linear infinite;
}

#onda4{
	z-index: 10;
	opacity: .7;
	bottom: 20px;
	animation: animationOnda2 3s linear infinite;
}

@keyframes animationOnda{
	0%{
		background-position-x: 1000px;
	}
	100%{
		background-position-x: 0px;
	}
}

@keyframes animationOnda2{
	0%{
		background-position-x: 0px;
	}

	100%{
		background-position-x: 1000px;
	}
}

.footer{
	margin-top: 22px;
	padding: 100px;
	background-color: var(--color-principal);
}

.footer-content{
	text-align: center;
}

.social ul li{
	display: inline-block;
	padding: 15px;	
}

.social ul li a i{
	color: var(--color-principal);
	font-size: 2rem;
	background-color: var(--color-menu-text);
	padding: 10px;
	border-radius: 50%;
}

.barra ul li{
	display: inline-block;
	padding: 25px;
}

.barra ul li a {
	color: var(--color-menu-text);
	font-weight: 500;
	font-size: 22px;
	text-decoration:underline;
}

.info{
	display: flex;
	justify-content: space-evenly;
}

.info-1{
	color: var(--color-menu-text);
	font-size: 17px;
	text-decoration: underline;
	padding: 10px;
}

.info-2{
	color: var(--color-menu-text);
	font-size: 17px;
	text-decoration: underline;
	padding: 10px;
}